/** ----------- CUERPO DE LA PÁGINA DE MOSTRAR TODOS LOS PRESIDENTES ------------- **/

.tituloMostrarTodos {
    margin-top: 50px;
    margin-bottom: 60px;
}

#hilera {
    margin-top: 70px;
}

/** ----------- CUERPO DE LA PÁGINA DE MOSTRAR TODOS LOS PRESIDENTES ------------- **/